.user-box
  display: none
  &.active
    display: flex
    align-items: center
    gap: 10px
.login-button
  cursor: pointer
  &.hide
    display: none

.mark-button 
  &.disabled
    pointer-events: none
    opacity: .3