.top-rated, .search-result, .my-movies
  padding: 80px 40px
  margin:0 auto
  max-width: 1280px
  width: 100%
  h2
    font-family: 'Stadiona'
    font-size: 50px

.search-result
  h2
    margin-bottom: 50px

.cards
  margin-top: 50px
  display: flex
  align-content: center
  justify-items: center
  gap: 30px 50px