.navbar
  padding: 20px
  display: flex
  align-items: center
  justify-content: center
  gap: 0 30px
  width: 100vw
  max-width: 100vw
  background: #000
  @media screen and (max-width:768px)
    gap: 0 30px
  .ant-input-group-wrapper
    max-width: 700px
  a
    color: #fff
    font-family: 'Stadiona'
    font-size: 30px